/* .lcurtain {
  align: left;
  top: 0px;
  z-index: 1;
  position: absolute;
} */

/* .rcurtain {
  align: right;
  top: 0px;
  z-index: 1;
  position: absolute;
} */

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logo-container {
  text-align: center;
}

.logo {
  height: 250px;
  top: 0px;
  z-index: 0;
}

.frontPageLinks {
  height: 200px;
  width: auto;
  top: 0px;
  z-index: 0;
}

a {
  color: white;
  text-decoration: none;
}

p a:hover {
  color: black;
  background-color: white;
}

body {
  background-color:#080B0D;
  background-size: 100%;
  color: white;
  font-family: 'Merriweather', serif;
  padding: 10px;
  margin: 10px;
}

h1 {
  text-align: left;
  font-size: 2em;
  font-family: 'Merriweather', serif;
  color: white;
  margin-bottom: 20px;
}

ul {
  text-align: left;
  font-size: 1.3em;
  color: white;
  margin-bottom: 20px;
  list-style-type: none;
}

li {
  text-align: left;
  font-size: 1.3em;
  color: white;
  margin-bottom: 20px;
  list-style-type: none;
}

img {
  padding: 5px;
}

p {
  text-align: left;
  font-size: 1em;
  color: white;
  margin-bottom: 20px;
}

.buttons-container {
  text-align: center;
}
