<ul>
  <li><p> <%= @show.name %> </p></li>
  <li><p> <%= @show.showtime %> </p></li>
  <li><p> <%= @show.maxcapacity %> </p></li>
</ul>

<% for customer in @show.customers %>
  <p><a href="/customers/id<%= customer.name %></p>
<% end %>
