<div class="buttons-container">
<a href="/customers">
  <img border="0" alt="Customers" src="/images/customers_link.jpg" class="frontPageLinks">
</a>
<a href="/shows">
  <img border="0" alt="Shows" src="/images/shows_link.jpg" class="frontPageLinks">
</a>
</div>
