<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Okey Dokey Theatre</title>
</head>
<body style="background-color:#080B0D;">
  <div>
    <a href="/">
      <img border="0" alt="home" src="/images/logo.jpg" class="logo">
    </a>
    <!-- <img src="/images/curtain_left.png" class="lcurtain"/>
    <img src="/images/curtain_right.png" class="rcurtain"/> -->
  </div>
  <body>

    <%= yield %>
  </body>
  </html>
