<form action="/customers" method="post">
  <div class="form-el">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/>
  </div>
  <div class="form-el">
    <label for="show_select">Select Show:</label>
    <select name="show_id" id="show_id" selected="<%= @shows %>">
      <% @shows.each do |show| %>

      <option value=<%= show.id %>><%= show.name %></option>

      <% end %>
    </select>
  </div>

  <div class="form-el">
    <input type="submit" value="save"/>
  </div>

</form>
